.chart-headline {
    text-align: center;
}

.chart-container {
    display: flex;
    @include bp (mobile) {
        width: 400px;
        padding-top: 40px;
    }
    @include bp (small) {
        width: 800px;
    }
}

.day-param {
    display: flex;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include bp (mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include bp (small) {
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
    }
}
