.container-mood {
    display: flex;
    justify-content: center;
}

.update-mood-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    button {
        width: inherit;
    }

    h2 {
        color: #35635d;
        padding-bottom: 20px;
        text-align: center;
        font-size: 2em;
    }

    form {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        button.customize-link {
            width: 262px;
        }

        input.button {
            align-self: center;
        }
    }
}

.mood-updated {
    h2 {
        font-size: 23px;
    }

    a {
        font-size: 17px;
        color: $accentBrightRed;
    }
}

.select_style {
    background: #FFF;
    overflow: hidden;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;
    font-family: $primaryFont;
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
}

.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    background: url('http://projects.authenticstyle.co.uk/niceselect/arrow.png') no-repeat;
    top: 50%;
    margin-top: -4px;
}

.select_style select {
    -webkit-appearance: none;
    appearance: none;
    width: 120%;
    background: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 10px;
}
