<div class="login-container">

    <div class="login">
        <img class="bmirror" src="images/betalogo.png" />
        <a href="auth/google"><button class="ui">
      <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      <span>Sign in with Google</span>
      </button></a>
        <a href="auth/facebook"><button class="ui">
      <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png" />
      <span>Sign in with Facebook</span>
    </button></a>
    </div>
</div>
